/* Elements */
html {
  font-size: 16px;
}

body {
  background-color: #222222;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
}

main {
}

ul {
  list-style: none;
}

a {
  color: pink;
}

span {
  color: lightblue;
}

/* ------------------------------------------- */

/* Page Title */
#pageTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1em;
  margin: 0.5em auto;
}
#pageTitleWrapper img {
  height: 1em;
}
#pageTitle {
  font-size: 5rem;
  color: red;
  text-shadow: #000 1px 0 10px;
}

ul#filesList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
}

ul#filesList li.fileWrapper {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.navBack {
  font-size: 3em;
  cursor: pointer;
}
.navBack:hover {
  color: red;
}

/* Display the root folders differently */
/* .rootfolder {
  font-size: 2vw;
  width: 100vw;
  margin: 1vw 0 1vw 0;
} */

.fileWrapper {
  width: 220px;
  height: 330px;
  background-color: lightgoldenrodyellow;
}

.coverPic {
  width: 200px;
  height: 300px;
  border: 5px solid seashell;
}

/* GLOBAL OVERRIDES */

.hidden {
  display: none !important;
}
